@{
    ViewData["Title"] = "Home Page";
    string autor = "Jesús Mena Amador";
    int edad = 27;

}
<html>
    <head>
        <title>@ViewBag.Tittle</title>

    </head>
    <body>
        <div>
            <h1>Modificando una vista</h1>
            <p>
                <strong>Yo soy: </strong> @autor<br/>
            Mi edad es <input type="number" value="@edad" placeholder="27"/>
            </p>
            
        </div>
        <div>
            <label>Pertenezco al equipo de PI llamado: </label>
            <input type="text" placeholder="Vorlagenersteller-S.A."/>
        </div>
        <div>
            <label> Mi carné es : </label>
            <input type="number" placeholder = "B54291"/>
        </div>
    </body>

</html>

